<h1>page to show repairs for a given equipment</h1>
<%if @equipments.empty?%>
  <div class='equipments-index-page d-flex a-center j-center'>
    <h1>No equipment for this user. Please add an equipment <%= link_to "here", new_equipment_path%></h2>
  </div>
<%else%>
    <div class='equipments-container'>
    <%= render partial: "layouts/flash" %>
    <div class='new-equipment'>
        <%= link_to "Add new Equipment", new_equipment_path %>
    </div>
    <%@equipments.each do |equipment|%>
        <%total = 0%>
        <%equipment.equipmentrepairs.each { |equip_rep| total += equip_rep.repair.amount } %>
      <%= link_to equipment_path(equipment.id) do %>
         <div class='equipment'>
            <%= image_tag("#{equipment.icon}", width:'50px', height:'50px') %>
            <div class='name-date'>
                <p><%= equipment.name%></p>
                <p><%= equipment.created_at.strftime('%d %b %Y at %I %M %p') %></p>
            </div>
            <p><%= "$#{total}"%></p>
            <%if can? :destroy, equipment %>
              <%= button_to "Delete", equipment_path(equipment.id), :method => :delete %>
            <%end%>
         </div>
       <%end%>
        
    <%end%>
</div>
<%end%>



